body {
    text-align: center;
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 500px 1fr auto;
}

main {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    


}

header {
    grid-column: 1 / span 2;
    grid-row-end: 1;
    height: 100px;
}

input {

    margin: 5px;
    grid-row-end: 1;
    justify-self:last bottom;
    align-self: bottom;
    background-color: rgba(250, 250, 250, 0) ;
    border: white;
    text-align:center;
    color: black;
    font-weight: 600;
    font-size: 20px
    

}

ul {

    list-style-type: none;

}

li {

    margin: 5px;

}

img {

    width: 1000px;


}


.green {

    background-color: green;

}


.yellow {

    background-color: yellow;


}


.grey {


    background-color: grey


}

.square {

    border: 2px solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr;

}


#rules {

    grid-row: 2 / span 1;
    grid-column: 4 / span 1;

}

#rulesBody {

    grid-template-columns: 0fr;

}

#rulesList {

    grid-column: 2 / span 1;

}

#play {

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

}


#indicator {

grid-row: 1 / span 1;
display: grid;
grid-template-rows: repeat(5, 1fr);

}

#footnote {

    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    font-size: 100px;

}




.triangle {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 140px solid #000000;
    border-bottom: 50px solid transparent;

}

